html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
}

html {
  font-size: 16px;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
}

* {
  box-sizing: border-box;
}

.embedded #main {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
